<header>
  <nav class="cyan darken-3">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Wiken</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">T - shirts<i class="material-icons right">arrow_drop_down</i></a>
          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Travelers</a></li>
            <li class="divider"></li>
            <li><a href="#!">Programming</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" for="search"><i class="material-icons">search</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> -->
  <!--   <a class="navbar-brand" href="#">Wiken</a> -->
  <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> -->
  <!--     <span class="navbar-toggler-icon"></span> -->
  <!--   </button> -->
  <!--   <div class="collapse navbar-collapse" id="navbarCollapse"> -->
  <!--     <ul class="navbar-nav mr-auto"> -->
  <!--       <li class="nav-item active"> -->
  <!--         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
  <!--       </li> -->
  <!--       <li class="nav-item dropdown"> -->
  <!--         <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tops</a> -->
  <!--         <div class="dropdown-menu" aria-labelledby="dropdown10"> -->
  <!--           <a class="dropdown-item" href="#">Travelers</a> -->
  <!--           <a class="dropdown-item" href="#">Programming</a> -->
  <!--           <a class="dropdown-item" href="#">Something else here</a> -->
  <!--         </div> -->
  <!--       </li> -->
  <!--       <li class="nav-item"> -->
  <!--         <a class="nav-link disabled" href="#">Disabled</a> -->
  <!--       </li> -->
  <!--     </ul> -->
  <!--     <form class="form-inline mt-2 mt-md-0"> -->
  <!--       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
  <!--       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  <!--     </form> -->
  <!--    </div> -->
  <!-- </nav> -->
</header>


